@charset "utf-8";

/* content */
#content{
    height: 70%; /* 70% 756px */
    margin: 0px 100px 40px;
    border: 2px solid #ccc;
}
#content > h2{
    text-indent: 30px;

}
#content ul li{
    text-align: center;
}
#content img{
    width: 150px;
    height: 150px;
    border-radius: 7px;
}

#content div ul li{
    width: 150px;
}

div.cpus{
    position: relative;
    width: 90%;
    height: 210px;
    margin: 5px 25px 70px 25px;
    padding: 10px;

    border: 3px solid #ccc;
    
    white-space:nowrap;
    overflow: hidden;
    overflow-x: auto;
}
div.cpus > ul > li{
    display: inline-block;
    float: none;
}


div.cpu{
    position: absolute;
    width: 150px;
    height: 130px;
    background-color: #ccccccca;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;

    transition: all 0.5s;
    top: 100%;
}
div.cpus > ul > li:hover div.cpu{
    top: 30px;
}
div.cpu > ul{
    text-align: center;
    margin: 30px auto;
}



div.gpus{
    position: relative;
    width: 90%;
    height: 210px;
    margin: 5px 25px 70px 25px;
    padding: 10px;

    border: 3px solid #ccc;
    
    white-space:nowrap;
    overflow: hidden;
    overflow-x: auto;
}
div.gpus > ul > li{
    display: inline-block;
    float: none;
}


div.gpu{
    position: absolute;
    width: 150px;
    height: 130px;
    background-color: #ccccccca;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;

    transition: all 0.5s;
    top: 100%;
}
div.gpus > ul > li:hover div.gpu{
    top: 30px;
}
div.gpu > ul{
    text-align: center;
    margin: 30px auto;
}